<!DOCTYPE html>
<html lang="fr">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<head>
		<title>Gaétan Rische's Website</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="Gaetan_web.css">
		<meta name="Gaétan Rische" content="Gaétan Rische's Website"/>
	</head>
  
	<body class="body" >
		<div>
			<p>Gaétan Rische</p>
			<p>VIDEO GAME PROGRAMMER</p>
			<div></div>
		</div>
    
		<!--MENU-->
		<nav class="flex">
			 <nav class="menuText" onclick="location.href='index.html';">
				<p>
					PROFIL
				</p>
			 </nav>
			 <nav class="menuText" onclick="location.href='Projects.html';">
				<p>
					PROJETS
				</p>
			 </nav>
			 <nav class="menuText" onclick="location.href='Resume.html';">
				<p>
					CV
				</p>
			 </nav>
		</nav>
	
		<!--TOUT LE RESTE-->
		<div class="main">
			
			<article id= "SSarl" style="background-color: #355; color: #ffffff; padding: 15px 10%; font-size: 22px; text-align: center; height: auto; width: 80%; display:block;">
				Une liste des programmes et outils que j'ai développés pour m'assister dans la conception de jeux vidéo, que ce soit pour moi-même ou d'autres membres de mon équipe.
				<br><br>
				Certains problèmes nécessitent de meilleurs outils que des simples lignes de code, avec une interface dédiée et intuitive, c'est pour cela que j'ai développé ces outils au fil de ma carrière.
			</article>
			
			<div ng-app="articlesApp" ng-controller="controller">
				<div ng-repeat="article in articles">
					
					<div ng-switch on="$first" id="{{article.id}}">
						<div ng-switch-when=true></div>
						<div ng-switch-default style="height:30px"></div>
					</div>
					
					<article class="section{{$index | correctStyle}}">
						<header></header>
						<figure ng-if="$even">
							<figure class="slideshow-container" style="background-image:url({{article.images[imageIndices[$index]]}})">
								<img src="Images/TriangleRight.png" alt="" style="width:10%">
								<figure ng-if="article.images.length > 1">
									<a class="slideshow-prev" ng-click="onGalleryClicked($index,-1)">&#10094;</a>
									<a class="slideshow-next" ng-click="onGalleryClicked($index,1)">&#10095;</a>
								</figure>
							</figure>
						</figure>
						<div style="{{article.style}}">
							<div ng-repeat="content in article.contents">
								<div ng-switch on="content.type" >
									<span ng-switch-when="title"><b>{{content.text}}</b></span>
									<span ng-switch-when="italic"><i>{{content.text}}</i></span>
									<span ng-switch-when="space"><br>{{content.text}}</span>
									<span ng-switch-when="link">{{content.begin}}<a href='{{content.href}}'>{{content.text}}</a>{{content.end}}</span>
									<span ng-switch-default>{{content.text}}</span>
								</div>
							</div>
						</div>
						<figure ng-if="$odd">
							<figure class="slideshow-container" style="background-image:url({{article.images[imageIndices[$index]]}})">
								<img src="Images/TriangleRight.png" alt="" style="width:10%">
								<figure ng-if="article.images.length > 1">
									<a class="slideshow-prev" ng-click="onGalleryClicked($index,-1)">&#10094;</a>
									<a class="slideshow-next" ng-click="onGalleryClicked($index,1)">&#10095;</a>
								</figure>
							</figure>
						</figure>
					</article>
				
				</div>
			</div>
			
		</div>
		
		<script>
		var app = angular.module('articlesApp', []);
		app.filter('correctStyle', function() {
			return function(index) {
				if(index % 2 == 0) return "Left"; else return "Right";
			};
		});
		app.controller('controller', function($scope) {
			$scope.imageIndices = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
			$scope.onGalleryClicked = function(index, offset){ var i = $scope.imageIndices[index]+offset; if(i < 0) i = $scope.articles[index].images.length-1; else i = i % $scope.articles[index].images.length; $scope.imageIndices[index] = i; }
			$scope.articles = [
				{ 
					id : "SGaia",
					contents : [
						{ type:"title", text:"Orbi Universo II - Gaïa, Editeur de terrain" },
						{ type:"space" },
						{ type:"link", begin:"Un éditeur de terrain utilisé lors du développement du jeu ", text:"Orbi Universo II", href:"Work.html#SOrbiUniverso2" },
						{ text:"Permet d'importer une carte du monde sous la forme d'un fichier d'image verctorielle et de parametrer la géographie, le climat et les ressources naturelles de chaque région du monde." },
					],
					images : [ 'Images/Tools/Gaia_1.jpg','Images/Tools/Gaia_2.jpg','Images/Tools/Gaia_3.jpg','Images/Tools/Gaia_4.jpg' ],
				},
				{ 
					id : "SEngine",
					contents : [
						{ type:"title", text:"Moteur de jeu C# personalisé" },
						{ type:"space" },
						{ text:"Mon propre moteur pour développer des jeux basés sur une grille hexagonale." },
						{ type:"space" },
						{ text:"Utilise Raylib pour abstraire des fonctionnalités OpenGL et ImGUI pour l'interface utilisateur." },
						{ type:"space" },
						{ text:"Permet d'importer des images, animations, modèles 3D et des structures de données complexes enregistrées sous forme de fichiers JSON." },
					],
					images : [ 'Images/Tools/Engine_1.jpg', 'Images/Tools/Engine_2.gif' ],
				},
				{ 
					id : "SAnimEdit",
					style : "line-height:1.2",
					contents : [
						{ type:"title", text:"Editeur d'animation" },
						{ type:"space" },
						{ type:"italic", text:"Les images ont toujours leur point d'origine dans le coin supérieur gauche, et leur donner une valeur de décalage arbitraire pour recentrer l'origine n'est pas une méthode idéale, surtout avec le grand nombre d'images que composent certaines animations." },
						{ type:"space" },
						{ text:"J'ai créé ce programme pour ajouter des métadonnées à une liste d'images, comme un point d'origine ou un nombre de sous-animations pour des vues sous plusieurs angles." },
						{ text:"Les métadonnées sont enregistrées dans un fichier et sont importées dans le moteur du jeu en même temps que les images pour recréer l'animation en jeu." },
					],
					images : [ 'Images/Tools/Animation_4.gif','Images/Tools/Animation_1.gif','Images/Tools/Animation_2.jpg','Images/Tools/Animation_3.jpg' ],
				},
				{ 
					id : "STilemap",
					contents : [
						{ type:"title", text:"Editeur de tilemap" },
						{ type:"space" },
						{ text:"Un programme permettant d'éditer une grille en deux dimensions et d'attribuer une valeur à chaque case pour former une «tilemap». Supporte aussi l'édition de plusieurs listes de points arbitraires sur l'espace de la grille." },
						{ text:"Les données sont enregistrées dans un fichier et sont importées dans le moteur pour recréer l'espace de jeu sur la grille." },
					],
					images : [ 'Images/Tools/Tilemap_1.jpg' ],
				},
				{ 
					id : "SDialog",
					contents : [
						{ type:"title", text:"Editeur de dialogue" },
						{ type:"space" },
						{ text:"Un plugin d'éditeur de dialogue pour Unity utilisé lors du développement du jeu Camp.us. Permet de créer des dialogues à choix multiples et de déclancher des évenements en jeu." },
					],
					images : [ 'Images/Tools/Dialog_1.jpg', 'Images/Tools/Dialog_2.jpg', 'Images/Tools/Dialog_3.jpg' ],
				},
				{ 
					id : "SLang",
					contents : [
						{ type:"title", text:"Langage de programmation personalisé" },
						{ type:"space" },
						{ type:"link", begin:"Un langage que j'ai développé pour le support de modding du jeu Orbi Universo. Pour plus d'information, visitez ", text:"la page dédié au jeu", href:"Work.html#SOrbiUniverso", end:"." },
					],
					images : [ 'Images/Tools/Code_1.jpg', 'Images/Tools/Code_2.jpg', 'Images/Tools/Code_3.jpg' ],
				},
			]
		});
		</script>
	</body>
</html>
